[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.mainnet]
my_first_deployment = "ZiECmSCWiJvsKRbNmBw27pyWEqEPFY4sBZ3MCnbvirH"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "mainnet"
wallet = "~/.config/solana/id.json"

[scripts]
init_pools = "npx ts-node tests/my_first_deployment.ts"

