# Dependencies installed inside the container
node_modules/

# Git metadata
.git/
.gitignore

# Environment variables (passed as build args or runtime env vars)
.env
*.env

# Local development specific
npm-debug.log*
logs/
uploads/ # Exclude if you're using a volume for this
